<form [formGroup]="myForm" (ngSubmit)="submitForm()">
    <div>
        <mat-form-field appearance="standard">
            <mat-label>Telemetry Name</mat-label>
            <input name="telemetryName" formControlName="telemetryName" type="text" matInput>
            <mat-error *ngIf="myForm?.get('name')?.hasError('required')">Die Aktion braucht einen Namen!</mat-error>
        </mat-form-field>
    </div>
    <div>
        <mat-form-field appearance="standard">
            <mat-label>Check Interval</mat-label>
            <input name="checkInterval" formControlName="checkInterval" type="number" matInput>
            <mat-error *ngIf="myForm?.get('checkInterval')?.hasError('required')">Geben Sie eine Zeitspanne in ms an!
            </mat-error>
            <mat-error *ngIf="myForm?.get('checkInterval')?.hasError('min')">
                Der Wert muss größer als 500ms sein!
            </mat-error>
        </mat-form-field>
    </div>
    <div>
        <mat-form-field appearance="standard">
            <mat-label>Action</mat-label>
            <mat-select formControlName="action" name="action" [value]="detector.action" [compareWith]="actionComparer">
                <mat-option *ngFor="let action of actions$|async" [value]="action">
                    {{action.name}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <ng-container *ngIf="detector?.typeName === 'MinMaxDetector'">
        <div>
            <mat-form-field appearance="standard">
                <mat-label>Min</mat-label>
                <input name="min" formControlName="min" type="number" matInput>
                <mat-error *ngIf="myForm?.get('minVal')?.hasError('required')">Geben Sie einen Minimalwert an!
                </mat-error>
            </mat-form-field>
        </div>
        <div>
            <mat-form-field appearance="standard">
                <mat-label>Max</mat-label>
                <input name="max" formControlName="max" type="number" matInput>
                <mat-error *ngIf="myForm?.get('maxVal')?.hasError('required')">Geben Sie einen Maximalwert an!
                </mat-error>
            </mat-form-field>
        </div>
        <div>
            <mat-form-field appearance="standard">
                <mat-label>Max Occurs</mat-label>
                <input name="maxOccurs" formControlName="maxOccurs" type="number" matInput>
                <mat-error *ngIf="myForm?.get('maxOccurs')?.hasError('required')">Geben Sie einen Wert an!
                </mat-error>
            </mat-form-field>
        </div>
        <div>
            <mat-form-field appearance="standard">
                <mat-label>Time Window</mat-label>
                <input name="timeWindow" formControlName="timeWindow" type="number" matInput>
                <mat-error *ngIf="myForm?.get('timeWindow')?.hasError('required')">Geben Sie eine Zeitspanne in ms an!
                </mat-error>
                <mat-error *ngIf="myForm?.get('timeWindow')?.hasError('min')">
                    Der Wert muss größer als 1000ms sein!
                </mat-error>
            </mat-form-field>
        </div>
    </ng-container>
    <ng-container *ngIf="detector?.typeName?.endsWith('SlidingWindowDetector')">
        <div>
            <mat-form-field appearance="standard">
                <mat-label>Time Window [ms]</mat-label>
                <input name="timeWindow" formControlName="timeWindow" type="number" matInput>
                <mat-error *ngIf="myForm?.get('timeWindow')?.hasError('required')">
                    Geben Sie eine Zeitspanne in ms ein!
                </mat-error>
                <mat-error *ngIf="myForm?.get('timeWindow')?.hasError('min')">
                    Der Wert muss größer als 1000ms sein!
                </mat-error>
            </mat-form-field>
        </div>
        <div>
            <mat-form-field appearance="standard">
                <mat-label>Gößer als Schwellenwert?</mat-label>
                <input name="useGreater" formControlName="useGreater" type="text" matInput>
                <mat-error *ngIf="myForm?.get('useGreater')?.hasError('required')">
                    Geben Sie einen Wert ein!
                </mat-error>
            </mat-form-field>
        </div>
        <div>
            <mat-form-field appearance="standard">
                <mat-label>Schwellenwert</mat-label>
                <input name="threshold" formControlName="threshold" type="text" matInput>
                <mat-error *ngIf="myForm?.get('threshold')?.hasError('required')">
                    Geben Sie einen Schwellenwert ein!
                </mat-error>
            </mat-form-field>
        </div>
    </ng-container>
    <button mat-raised-button color="accent" type="submit" class="ui button"
        [disabled]="myForm?.invalid">Speichern</button>
</form>