<div>
    <mat-form-field appearance="outline">
        <mat-label>Filter nach Name</mat-label>
        <input #filterInput matInput placeholder="Hier tippen" (keyup)="keyup.emit(filterInput.value)">
        <mat-icon matPrefix>search</mat-icon>
      </mat-form-field>
</div>
<table mat-table [dataSource]="dataSource">
    <!-- Name Column -->
    <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="typeId">
        <th mat-header-cell *matHeaderCellDef> Type </th>
        <td mat-cell *matCellDef="let element"> {{element.typeId}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="timestamp">
        <th mat-header-cell *matHeaderCellDef> Time </th>
        <td mat-cell *matCellDef="let element"> {{element.timestamp}} </td>
    </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="message">
            <th mat-header-cell *matHeaderCellDef> Message </th>
            <td mat-cell *matCellDef="let element"> {{element.message}} </td>
        </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" class='log-row'></tr>
</table>

<mat-paginator [pageSizeOptions]="[50, 100, 200]" showFirstLastButtons>
</mat-paginator>