<form [formGroup]="myForm" (ngSubmit)="submitForm()">
    <div>
        <mat-form-field appearance="standard">
            <mat-label>{{ 'action.name' | translate }}</mat-label>
            <input name="name" formControlName="name" type="text" matInput>
            <mat-error *ngIf="myForm?.get('name')?.hasError('required')">{{ 'action.nameError' | translate }}</mat-error>
        </mat-form-field>
    </div>
    <ng-container *ngIf="action.typeName === 'MailAction'">
        <div>
            <mat-form-field appearance="standard">
                <mat-label>{{ 'action.email' | translate }}</mat-label>
                <input name="mailAddress" formControlName="mailAddress" type="email" matInput>
                <mat-error *ngIf="myForm?.get('mailAddress')?.hasError('required')">{{ 'action.emailRequired' | translate }}
                </mat-error>
                <mat-error *ngIf="myForm?.get('mailAddress')?.hasError('email')">{{ 'action.invalidEmail' | translate }}
                </mat-error>
            </mat-form-field>
        </div>
        <div>
            <mat-form-field appearance="standard">
                <mat-label>{{ 'action.mailContent' | translate }}</mat-label>
                <textarea name="mailContent" formControlName="mailContent" type="text" matInput></textarea>
                <mat-error *ngIf="myForm?.get('mailContent')?.hasError('required')">
                    {{ 'action.mailContentRequired' | translate }}
                </mat-error>
            </mat-form-field>
        </div>
    </ng-container>
    <ng-container *ngIf="action.typeName === 'WebHookAction'">
        <div>
            <mat-form-field appearance="standard">
                <mat-label>{{ 'action.requestUrl' | translate }}</mat-label>
                <input name="requestUrl" formControlName="requestUrl" type="text" matInput>
                <mat-error *ngIf="myForm?.get('requestUrl')?.hasError('required')">
                    {{ 'action.requestUrlRequired' | translate }}
                </mat-error>
                <mat-error *ngIf="myForm?.get('requestUrl')?.hasError('pattern')">
                    {{ 'action.requestUrlInvalid' | translate }}
                </mat-error>
            </mat-form-field>
        </div>
    </ng-container>
    <button mat-raised-button color="accent" type="submit" class="ui button"
        [disabled]="myForm?.invalid">{{ 'save' | translate }}</button>
</form>